/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Lavishly+Yours&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */
/* header,footer Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Cookie&family=Delius&family=Lavishly+Yours&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.asteriskField{
    color: red;
    
}
textarea{
    resize: none;
    
}
/* thead{
    background-color: darkslateblue;
    color:white;
} */

header,footer{
    
 
  /* font-family: "Concert One", sans-serif;
   */
  font-family: "Delius", cursive;  

}
header a:link{
  /* background-color: rgb(215, 216, 213); */
  display:inline-block;
  color:rgb(3, 26, 46);
  transition: all 0.3s ease, color 0.2s ease, text-shadow 0.2s ease; 
}
header a:hover{
  
  
  transform: scale(1.2) translateY(-3px);
  color: rgb(84, 140, 243) !important;
  font-weight:bold;
  text-shadow: 5px   rgb(138, 136, 136) ;
}
header a.active{
  color: rgb(219, 40, 55) !important;
}
#banner1{
  width:1800px;
}
.carousel-item{
    height:500px;
    /* width:1500px; */
    border-style:solid;
    border-color: rgb(1, 184, 144);
}
.carousel-item img{
  
  /* max-height:750px; */
  height:100%;
  object-fit: 98% 98%;
  /* max-width:1500px; */
}

/* =============================== trending items =======================*/
/* #trending .card{
  width: 280px;
  height: 320px;
}

#trending .card img{
  height: 60%;
  object-fit: contain;
} */

swiper-container {
      width: 100%;
    }

swiper-slide {
    width: 280px;
  height: 350px;
  text-align: center;
  font-size: 18px;
  /* background: #444; */
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

/*=============================   Products  ======================================*/
#products .card{
  width: 280px;
  height: 350px;
  text-align: center;
}
#products .card img{
   /* display: block; */
  position:relative;
  width: 100%;
  height: 60%; 
  object-fit: contain;
}
#products .card-body p+span{
  position:relative;
  top: 5px;
  
 
}
#products .card-body a{
  position:relative;
  top: 5px;
  left:5px;
  font-size: 15px;
  /* border-style:solid; */
}