{% extends "base.html" %}
{% load static %}
{% block title %}
    Carts
{% endblock %}

{% block main-content %}


<div class="container my-5" id="cart">

    <div class="col-md-10 shadow rounded-4 p-4 m-auto">
        {% if items %}
        <table class = "table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th class = "col-5">Name</th>
                    <th>Price(Rs.)</th>
                    <th>Image</th>
                    <th>Size</th>
                    <th>Action </th>
                </tr>
            </thead>
            <tbody>
                {% for item in items  %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <!-- <td>{{item.user.name}}</td> -->
                    <td>{{item.products.name}}</td>
                    <td>{{item.products.selling_price}}</td>
                    <td>
                    <img src="{{item.products.image}}" alt ="{{item.products.name}}" width ='50'>
                    </td>
                    <td>{{item.products.size}} </td>
                    <td>
                    <a href="/delete-cart/{{item.id}}" class ="btn btn-danger btn-sm badge"><i class="bi bi-trash"></i>Delete
                        
                    </a>

                    <a href="/order-form/{{item.id}}/{{item.products.id}}" class = "btn btn-warning btn-sm badge">Buy Now
                    </a>
                    </td>
                    <!-- new addition to check cart's choosen option appears or product's predetermined value appears -->
                    
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% else %}
        <h1>No products</h1>
        
    {% endif %}
    </div>

</div>









{% endblock %}