{% extends "base.html" %}
{% load static %}
{% block title %}
    MY ORDERS |
{% endblock %}

{% block main-content %}



<div class="container my-5" id="cart">
    <h2 class="text-center"> ALL ORDERS</h2>

    <div class="col-md-12 shadow rounded-4 p-4 m-auto">
        {% if order %}
        <table class = "table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th class = "col-5">Name</th>
                    <th>Price(Rs.)</th>
                    <th>Quantity</th>
                    <th> Size </th>
                    <th>Payment Method</th>
                    <th>Payment Status</th>
                    <th>Order Status Status</th>
                    <th>Image</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order  %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <!-- <td>{{item.user.name}}</td> -->
                    <td>{{item.product.name}}</td>
                    <td>{{item.total_price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.size2}}</td>
                    <td>{{item.payment_method}}</td>
                    <td>{{item.payment_status}}</td>
                    <td>{{item.status}}</td>
                    <td>
                    <img src="{{item.product.image}}" alt ="{{item.product.name}}" width ='50'>
                    </td>
                    <td>
                    {{item.created_at|date:"M d, Y"}}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% else %}
        <h1>No products</h1>
        
    {% endif %}
    </div>

</div>









{% endblock %}