
    {% extends "base.html" %}
    {% load static %}

    {% block title %}
    ALL Products
    {% endblock %}

    {% block main-content %}



    
<div class ="products  py-5" id="products">

<hr>
<div class="d-flex justify-content-between px-5">
    <h2> ALL PRODUCTS</h2>
    <div class="form">
        <form action="" class="d-flex" method="GET" onchange ="this.form.submit()">
            {% comment %} <p>Filter :</p> {% endcomment %}
                <div class="form-floating">
                <select name = "category" class="form-select" id="floatingSelect" aria-label="Floating label select example" onchange="this.form.submit()">
                        <option value =''>All category</option>
                        {%  for item in category %}

                        <option value="{{item.id}}" {% if item.id == selected_category %}selected{% endif %}>{{item.name}}</option>
                        {% endfor %} 
                       
                </select>
                <label for="floatingSelect">filter by category</label>
                </div>
        </form>
    </div>
</div>

<!--  ========================== -->
{% if products%}
<div class = "d-flex  flex-wrap p-3">


         <!-- <swiper-container class="mySwiper" init="false" autoplay-delay="2500"> -->
    {% for item in products %}
        <div class="card my-3 shadow m-2">
    <!-- <div class="card my-2 shadow "> -->
            <img src = "/{{item.image}}" class = ""   alt="{{item.name}}">
            <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <p class="fw-bold">Price:
                            <span class='text-secondary'><del>{{item.original_price | floatformat:2}}</del></span>
                            <span class='text-success'>{{item.selling_price | floatformat:2}}</span>

                    </p>
                    {% if item.stock == 0 %}
                        <span class=" badge fs-5 bg-danger"> Out of stock</span>
                    {% comment %} {% elif item.stock < 5 %}
                        <span class=" badge fs-5 bg-warning"> Less Than 5 </span>
                        <a href="#"><i class="bi bi-arrow-right">View More</i></a> {% endcomment %}
                    {% else %}
                        <a href="product_details/{{item.id}}">View More<i class="bi bi-arrow-right-square-fill"></i></a>
                    {% endif %}
                    
                    

            </div>

    <!-- </div> -->
</div>
    {% endfor %}
</div>
{% else %}
<h2> NO DATA FOUND </h2>
{% endif %}





<div class = "d-flex flex-wrap p-3 ">
   
</div>

</div>
    
    {% endblock %}

    
